<p id="notice"><%= notice %></p>

<p>
  <strong>Playlist Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @playlist.user.name %>
</p>

<%= form_with(model: Song.new, url: playlist_songs_path(@playlist), local: true) do |f| %>
<%= f.label :song %>
<%= f.text_field :name %>
<%= f.label :artist %>
<%= f.text_field :artist %>
<%= f.submit :enviar %>
<% end %>

<hr>
<ul>
  <% @playlist.song.each do |song| %>
  <li><%= song.name %> / <%= song.artist %></li>
  <%= button_to 'Eliminar', playlist_song_path(@playlist, song), method: :delete, data: { confirm: 'Are you sure?' }  %>

<%end%>
</ul>

<%= link_to 'Edit', edit_playlist_path(@playlist), class: "btn btn-outline-secondary btn-sm", style: "color:magenta" %> |
<%= link_to 'Back', playlists_path, class: "btn btn-outline-secondary btn-sm", style: "color:orange" %>
